<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.dmDocumentTypes.home.title">Dm Document Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-dm-document-types" [routerLink]="['/', { outlets: { popup: ['dm-document-types-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.dmDocumentTypes.home.createLabel">
            Create new Dm Document Types
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dmDocumentTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hcmEmpApp.dmDocumentTypes.code">Code</span></th>
            <th><span jhiTranslate="hcmEmpApp.dmDocumentTypes.name">Name</span></th>
            <th><span jhiTranslate="hcmEmpApp.dmDocumentTypes.description">Description</span></th>
            <th><span jhiTranslate="hcmEmpApp.dmDocumentTypes.createdBy">Created By</span></th>
            <th><span jhiTranslate="hcmEmpApp.dmDocumentTypes.createdAt">Created At</span></th>
            <th><span jhiTranslate="hcmEmpApp.dmDocumentTypes.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="hcmEmpApp.dmDocumentTypes.updatedAt">Updated At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dmDocumentTypes of dmDocumentTypes ;trackBy: trackId">
                <td><a [routerLink]="['../dm-document-types', dmDocumentTypes.id ]">{{dmDocumentTypes.id}}</a></td>
                <td>{{dmDocumentTypes.code}}</td>
                <td>{{dmDocumentTypes.name}}</td>
                <td>{{dmDocumentTypes.description}}</td>
                <td>{{dmDocumentTypes.createdBy}}</td>
                <td>{{dmDocumentTypes.createdAt | date:'medium'}}</td>
                <td>{{dmDocumentTypes.updatedBy}}</td>
                <td>{{dmDocumentTypes.updatedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../dm-document-types', dmDocumentTypes.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dm-document-types/'+ dmDocumentTypes.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dm-document-types/'+ dmDocumentTypes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
