<form class="form-horizontal" role="form">
    <div class="panel-footer p-b-20 p-t-20 m-b-10">
        <i class="ti-check-box m-r-5 heading-icon-at"></i>
        <span class="heading-at">ACCOMPLISHMENTS</span>
        <div *ngIf="isEditable" class="dropdown user-pro-body pull-right">
            <a (click)="navigateAdd()" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-plus action-button-at"></i>
            </a>
        </div>
    </div>
    <div *ngFor="let accomplishment of emEmpAccomplishments;" class="form-body">
        <div *ngIf="accomplishment.idAccomplishmentType.id !== accomplishmentId">
            <div class="box-title p-b-10 p-t-10 p-r-10">
                <i class="fa ti-blackboard m-r-5 m-l-15 section-icon-at"></i>
                <span class="section-title section-title-at">{{newAccomplishmentType(accomplishment.idAccomplishmentType)}}</span>
            </div>
            <hr class="m-t-0 m-b-40">
        </div>
        <div class="row">
            <div *ngIf="isEditable" class="col-md-12 pull-right">
                <a class="popup-with-form" (click)="navigateEdit(accomplishment.id)">
                    <i class="fa fa-pencil action-button-at pull-right"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">{{accomplishment.idAccomplishmentType.name}} name:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {{accomplishment.title}} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Role:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> Team lead</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">From:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {{accomplishment.dateFrom}} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">To:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {{accomplishment.dateTo}} </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Review:</label>
                    <div class="col-md-9">
                        <p class="form-control-static"> {{accomplishment.description}} </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Rating:</label>
                    <div class="col-md-9">
                        <div data-label="4.5" class="css-bar css-bar-90 css-bar-lg m-b-0 m-r-10 css-bar-info ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="m-t-0 m-b-40">

    </div>
</form>
