<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.emEmpSchools.home.title">Em Emp Schools</span>
        <button class="btn btn-primary float-right jh-create-entity create-em-emp-schools" [routerLink]="['/', { outlets: { popup: ['em-emp-schools-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.emEmpSchools.home.createLabel">
            Create new Em Emp Schools
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="emEmpSchools">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.dateFrom">Date From</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.dateTo">Date To</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.major">Major</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.degree">Degree</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.grade">Grade</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.description">Description</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.createdBy">Created By</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.createdAt">Created At</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.idSchool">Id School</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.idEmployee">Id Employee</span></th>
            <th><span jhiTranslate="hcmEmpApp.emEmpSchools.idQualification">Id Qualification</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emEmpSchools of emEmpSchools ;trackBy: trackId">
                <td><a [routerLink]="['../em-emp-schools', emEmpSchools.id ]">{{emEmpSchools.id}}</a></td>
                <td>{{emEmpSchools.dateFrom | date:'mediumDate'}}</td>
                <td>{{emEmpSchools.dateTo | date:'mediumDate'}}</td>
                <td>{{emEmpSchools.major}}</td>
                <td>{{emEmpSchools.degree}}</td>
                <td>{{emEmpSchools.grade}}</td>
                <td>{{emEmpSchools.description}}</td>
                <td>{{emEmpSchools.createdBy}}</td>
                <td>{{emEmpSchools.createdAt | date:'medium'}}</td>
                <td>{{emEmpSchools.updatedBy}}</td>
                <td>{{emEmpSchools.updatedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="emEmpSchools.idSchool">
                        <a [routerLink]="['../rg-schools', emEmpSchools.idSchool?.id ]" >{{emEmpSchools.idSchool?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emEmpSchools.idEmployee">
                        <a [routerLink]="['../em-employees', emEmpSchools.idEmployee?.id ]" >{{emEmpSchools.idEmployee?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="emEmpSchools.idQualification">
                        <a [routerLink]="['../rg-qualifications', emEmpSchools.idQualification?.id ]" >{{emEmpSchools.idQualification?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../em-emp-schools', emEmpSchools.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-emp-schools/'+ emEmpSchools.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'em-emp-schools/'+ emEmpSchools.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
