<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.atAccomplishmentTypes.home.title">At Accomplishment Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-at-accomplishment-types" [routerLink]="['/', { outlets: { popup: ['at-accomplishment-types-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.atAccomplishmentTypes.home.createLabel">
            Create new At Accomplishment Types
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="atAccomplishmentTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hcmEmpApp.atAccomplishmentTypes.code">Code</span></th>
            <th><span jhiTranslate="hcmEmpApp.atAccomplishmentTypes.name">Name</span></th>
            <th><span jhiTranslate="hcmEmpApp.atAccomplishmentTypes.description">Description</span></th>
            <th><span jhiTranslate="hcmEmpApp.atAccomplishmentTypes.createdBy">Created By</span></th>
            <th><span jhiTranslate="hcmEmpApp.atAccomplishmentTypes.createdAt">Created At</span></th>
            <th><span jhiTranslate="hcmEmpApp.atAccomplishmentTypes.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="hcmEmpApp.atAccomplishmentTypes.updatedAt">Updated At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let atAccomplishmentTypes of atAccomplishmentTypes ;trackBy: trackId">
                <td><a [routerLink]="['../at-accomplishment-types', atAccomplishmentTypes.id ]">{{atAccomplishmentTypes.id}}</a></td>
                <td>{{atAccomplishmentTypes.code}}</td>
                <td>{{atAccomplishmentTypes.name}}</td>
                <td>{{atAccomplishmentTypes.description}}</td>
                <td>{{atAccomplishmentTypes.createdBy}}</td>
                <td>{{atAccomplishmentTypes.createdAt | date:'medium'}}</td>
                <td>{{atAccomplishmentTypes.updatedBy}}</td>
                <td>{{atAccomplishmentTypes.updatedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../at-accomplishment-types', atAccomplishmentTypes.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'at-accomplishment-types/'+ atAccomplishmentTypes.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'at-accomplishment-types/'+ atAccomplishmentTypes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
