<div>
    <h2>
        <span jhiTranslate="hcmEmpApp.leLegalEntityTypes.home.title">Le Legal Entity Types</span>
        <button class="btn btn-primary float-right jh-create-entity create-le-legal-entity-types" [routerLink]="['/', { outlets: { popup: ['le-legal-entity-types-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="hcmEmpApp.leLegalEntityTypes.home.createLabel">
            Create new Le Legal Entity Types
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="leLegalEntityTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="hcmEmpApp.leLegalEntityTypes.code">Code</span></th>
            <th><span jhiTranslate="hcmEmpApp.leLegalEntityTypes.name">Name</span></th>
            <th><span jhiTranslate="hcmEmpApp.leLegalEntityTypes.description">Description</span></th>
            <th><span jhiTranslate="hcmEmpApp.leLegalEntityTypes.createdBy">Created By</span></th>
            <th><span jhiTranslate="hcmEmpApp.leLegalEntityTypes.createdAt">Created At</span></th>
            <th><span jhiTranslate="hcmEmpApp.leLegalEntityTypes.updatedBy">Updated By</span></th>
            <th><span jhiTranslate="hcmEmpApp.leLegalEntityTypes.updatedAt">Updated At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let leLegalEntityTypes of leLegalEntityTypes ;trackBy: trackId">
                <td><a [routerLink]="['../le-legal-entity-types', leLegalEntityTypes.id ]">{{leLegalEntityTypes.id}}</a></td>
                <td>{{leLegalEntityTypes.code}}</td>
                <td>{{leLegalEntityTypes.name}}</td>
                <td>{{leLegalEntityTypes.description}}</td>
                <td>{{leLegalEntityTypes.createdBy}}</td>
                <td>{{leLegalEntityTypes.createdAt | date:'medium'}}</td>
                <td>{{leLegalEntityTypes.updatedBy}}</td>
                <td>{{leLegalEntityTypes.updatedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../le-legal-entity-types', leLegalEntityTypes.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'le-legal-entity-types/'+ leLegalEntityTypes.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'le-legal-entity-types/'+ leLegalEntityTypes.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
